[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
pillow = "*"
django-braces = "==1.13.0"
django-embed-video = "==1.1.2"

[dev-packages]
djlint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
